
  <header class="header-home"> <!-- Modification de la classe header -->
    <%= image_tag("logo_merc.png", alt: "Logo_merc", class: "logo-home") %> <!-- Modification de la classe logo -->
    <div class="search-bar-container-home"> <!-- Modification de la classe search-bar-container -->
      <input type="text" class="search-bar-home" placeholder="Recherche" /> <!-- Modification de la classe search-bar -->
      <div class="filter-button-home"> <!-- Modification de la classe filter-button -->
        <button id="filter-button-home">Filter</button> <!-- Modification de l'ID filter-button -->
      </div>
    </div>
    <div class="header-buttons-home"> <!-- Modification de la classe header-buttons -->
      <div class="button-container-home"> <!-- Modification de la classe button-container -->
        <%= link_to "Log out", destroy_user_session_path, class: "dropdown-item-home", data: {turbo_method: :delete} %>
      </div>
      <div class="button-container-home"> <!-- Modification de la classe button-container -->
        <%= link_to "My profil", profil_path(current_user), class: "dropdown-item-home" %>
      </div>
    </div>
  </header>

  <div class="container-home"> <!-- Modification de la classe container -->
    <h2>Latest Offers</h2>
    <div class="cards-container-home"> <!-- Modification de la classe cards-container -->
      <% @offers.each do |offer| %>
        <div class="card-home shadow"> <!-- Modification de la classe card -->
          <div class="card-image-home"> <!-- Modification de la classe card-image -->
            <% if offer.photo.attached? == true  %>
              <%= cl_image_tag offer.photo.key, height: 300, width: 400, crop: :fill %>
            <% else %>
              <%= cl_image_tag("download_grlwat", width: 400, height: 300, crop: :fill) %>
            <% end %>
          </div>
          <div class="card-body-home"> <!-- Modification de la classe card-body -->
            <h5 class="card-title-home"><%= offer.title %></h5> <!-- Modification de la classe card-title -->
            <div class="card-description-home"> <!-- Modification de la classe card-description -->
              <p>Price: <%= number_to_currency(offer.price) %></p>
              <p>Address: <%= offer.address %></p>
              <%= link_to "View Details", offer_path(offer), class: "btn btn-primary" %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
