<%= render "pages/header" %>

  <div class="container-home"> <!-- Modification de la classe container -->
    <div class="d-flex justify-content-between align-items-center">
      <div class="ms-3">
        <h2>Mercenaires de la semaine</h2>
      </div>
      <div class="me-5">
        <%= link_to "Tous nos mercenaires <i class='fas fa-arrow-right'></i>".html_safe, offers_path, class: "btn btn-primary" %>
      </div>
    </div>
    <div class="cards-container-home"> <!-- Modification de la classe cards-container -->
      <% @offers.each do |offer| %>
        <div class="card-home shadow"> <!-- Modification de la classe card -->
          <div class="card-image-home"> <!-- Modification de la classe card-image -->
            <% if offer.photo.attached? == true  %>
              <%= cl_image_tag offer.photo.key, height: 300, width: 400, crop: :fill %>
            <% else %>
              <%= cl_image_tag("download_grlwat", width: 400, height: 300, crop: :fill) %>
            <% end %>
          </div>
          <div class="card-body-home"> <!-- Modification de la classe card-body -->
            <h5 class="card-title-home"><%= offer.title %></h5> <!-- Modification de la classe card-title -->
            <div class="card-description-home"> <!-- Modification de la classe card-description -->
              <p>Taux horaire: <%= number_to_currency(offer.price) %></p>
               <p>Classe: <%= offer.job %></p>
               <p>Note: <%= offer.rank %></p>
              <p>Adresse: <%= offer.address %></p>
              <%= link_to "En savoir plus", offer_path(offer), class: "btn btn-primary" %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
