<%= render "pages/header" %>

  <div class="container">
    <h2>Latest Offers</h2>
    <div class="cards-container">
      <% @offers.each do |offer| %>
        <div class="card">
          <div class="card-image">
            <% if offer.photo.attached? == true  %>
              <%= cl_image_tag offer.photo.key, height: 300, width: 400, crop: :fill %>
            <% else %>
              <%= cl_image_tag("download_grlwat", width: 400, height: 300, crop: :fill) %>
            <% end %>
          </div>
          <div class="card-body">
            <h5 class="card-title"><%= offer.title %></h5>
            <div class="card-description">
              <p>Price: <%= number_to_currency(offer.price) %></p>
              <p>Address: <%= offer.address %></p>
              <%= link_to "View Details", offer_path(offer), class: "btn btn-primary" %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
</div>
