<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Offers Dashboard</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
</head>
<body>
  <header class="header">
    <%= image_tag("logo_merc.png", alt: "Logo_merc", class: "logo") %> <!-- Adjust the image source as per your image -->
    <div class="search-bar-container">
      <input type="text" class="search-bar" placeholder="Recherche/filtres" />
    </div>
  </header>

  <main class="container">
    <h2>Latest Offers</h2>
    <div class="cards-container">
      <% @offers.each do |offer| %>
        <div class="card">
          <div class="card-body">
            <h5 class="card-title"><%= offer.title %></h5>
            <% if offer.photo.attached? == true  %>
            <%= cl_image_tag offer.photo.key, height: 300, width: 400, crop: :fill %>
            <% else %>
            <%= cl_image_tag("download_grlwat", width: 400, height: 300, crop: :fill) %>
            <% end %>
          <div class="card-description">
            <h5><%= offer.title %></h5>
            <p>Price: <%= number_to_currency(offer.price) %></p>
            <p>Address: <%= offer.address %></p>
            <%= link_to "View Details", offer_path(offer), class: "btn btn-primary" %>
          </div>
        </div>
      <% end %>
    </div>
  </main>
</body>
</html>
