<div class="container">
<div class="d-flex justify-content-center">
<%= simple_form_for [@offer, @reservation] do |f| %>

  <div class="field">
    <%= f.input :description %>
  </div>

  <div class="field">
    <%= f.label :start_date %>
    <%= f.datetime_local_field :start_date, data: { controller: "flatpickr" } %>
  </div>

  <div class="field">
    <%= f.label :end_date %>
    <%= f.datetime_local_field :end_date, data: { controller: "flatpickr" } %>
  </div>

  <!-- other form fields -->
  <%= f.submit %>
<% end %>
</div>
</div>
