  <div class="container">
  <div class="">
  <h1>Votre commande</h1>
  <h2><%= @reservation.offer.title %></h2>
  <p>Prix: <%= @reservation.offer.price.to_s %></p>
  <p>Adresse: <%= @reservation.offer.address %></p>
  <p>Durée:</p>
  <%= @reservation.start_date  %> to <%= @reservation.end_date  %>
  </div>
  </div>
