<%= form_for(@profil, as: :user, url: registration_path(:user), html: { method: :put }) do |f| %>
  <div class="form-group">
    <%= f.label :user_name %>
    <%= f.text_field :user_name, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :first_name %>
    <%= f.text_field :first_name, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :last_name %>
    <%= f.text_field :last_name, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :current_password %>
    <%= f.password_field :current_password, class: "form-control",
      placeholder: "Mot magique actuel",
      autocomplete: "Mot magique actuel" %>
    <small class="form-text text-muted">
      We need your current password to confirm your changes.
    </small>
  </div>

  <div class="form-group">
   <%= f.file_field :photo, as: :file, class: "form-control"  %>
  </div>

  <div class="form-group">
    <%= f.submit "Modifier", class: "btn btn-primary" %>
  </div>
<% end %>
