<%= render "nav" %>
  <div class="parent m-5">

    <div class="div1 rounded-4 shadow " style="background-color: #D5CEA3;">
      <div class="edit-logo">
        <%= link_to '<i class="fas fa-pen"></i>'.html_safe, edit_profil_path(@profil), class: 'text-black' %>
      </div>
      <div class="p-3">
        <div class="row">
          <div class="col-6 text-center">
            <div class="img-profil shadow">
              <% if @profil.photo.attached? == true  %>
                <%= cl_image_tag @profil.photo.key, class: "img-profil shadow" %>
              <% else %>
                <%= cl_image_tag("download_grlwat", width: 400, height: 300, crop: :fill) %>
              <% end %>
            </div>
            <hr>
            <div>
                          <%= link_to "Create New Offer", new_offer_path, class: "custom-button-create-pay" %>
            </div>
          </div>
          <div class="col-6 d-flex flex-column align-items-center justify-content-center text-center">
            <div>
                          <h1><%= @profil.user_name %></h1>
              <p><strong><%= @profil.first_name %> <%= @profil.last_name %></strong></p>

            </div>
          </div>
        </div>
      </div>
    </div>

<div class="div2 rounded-4 shadow " style="background-color: #D5CEA3;">


<div class="pentagon-container">
  <div class="icon <%= @profil.offers.any? { |offer| offer.job == 'Mage' } ? 'has-offer' : '' %>">
    <%= image_tag 'icons/magicien_icon.svg', size: '100x100' %>
  </div>

  <div class="icon <%= @profil.offers.any? { |offer| offer.job == 'Ninja' } ? 'has-offer' : '' %>">
    <%= image_tag 'icons/ninja_icon.svg', size: '100x100' %>
  </div>

  <div class="icon <%= @profil.offers.any? { |offer| offer.job == 'Voleur' } ? 'has-offer' : '' %>">
    <%= image_tag 'icons/voleur_icon.svg', size: '100x100' %>
  </div>

  <div class="icon <%= @profil.offers.any? { |offer| offer.job == 'Guerrier' } ? 'has-offer' : '' %>">
    <%= image_tag 'icons/guerrier_icon.svg', size: '100x100' %>
  </div>

  <div class="icon <%= @profil.offers.any? { |offer| offer.job == 'Archer' } ? 'has-offer' : '' %>">
    <%= image_tag 'icons/archer_icon.svg', size: '100x100' %>
  </div>
</div>

  </div>
</div>
