<div class="container mt-5 p-5">
  <div class="d-flex align-items-baseline">
  <h1><%= @offer.title %></h1>
  <p>- Created by: <%= @offer.user.user_name %></p>
  </div>
  <div class="shadow rounded-4 row">
    <div class="col-4 d-flex justify-content-end">
      <% if @offer.photo.attached? == true  %>
      <%= cl_image_tag @offer.photo.key, height: 300, width: 400, crop: :fill, class:"rounded-start-4" %>
      <% else %>
      <%= cl_image_tag("download_grlwat", width: 400, height: 300, crop: :fill) %>
      <% end %>
    </div>
    <div class="col-8 offer-card">
      <div class="d-flex">
        <h4 class="class rounded-pill m-3"><%= @offer.job %></h4>
        <h4 class="class-rank m-3"><%= @offer.rank %></h4>
      </div>
      <div class="m-3">
        <p class="text-center"><strong><%= @offer.address %></strong></p>
      </div>
      <div class="prix rounded-pill">
        <h3><%= @offer.price.to_s %> $</h3>
      </div>
      <div class="p-3 text">
        <p class="text-center"><%= @offer.description %></p>
      </div>
    </div>
  </div>
  <br>  
  <br>
  <div class="text-center d-flex justify-content-between">
    <%= link_to "<i class='fas fa-arrow-left-long fa-5x'></i> <i class='fas fa-house-user fa-5x'></i>".html_safe, offers_path, class: "btn" %>
    <%= link_to image_tag('sword-cross.256x232.png', size: '70x70') + "<i class='fas fa-arrow-right-long fa-5x'></i>".html_safe, new_offer_reservation_path(@offer), class: "btn d-flex align-items-center" %>
  </div>
</div>
