

<div class="container">
  <h1><%= @offer.title %></h1>
  <p>Price: <%= @offer.price.to_s %></p>
  <p>Description: <%= @offer.description %></p>
  <p>Address: <%= @offer.address %></p>
  <p>Super secret offer</p>
  <% if @offer.user == current_user %>
    <%= link_to 'Edit', edit_offer_path(@offer) %>
    <%= link_to 'Delete', offer_path(@offer), method: :delete, data: { confirm: 'Are you sure?' } %>
  <% end %>

  <%= link_to "Back to Home", root_path, class: "btn btn-primary" %>
</div>
