<div class="container mt-5 p-5">
  <h1><%= @offer.title %></h1>

  <p>Created by: <%= @offer.user.user_name %></p>
  <% if @offer.photo.attached? == true  %>
  <%= cl_image_tag @offer.photo.key, height: 300, width: 400, crop: :fill %>
  <% else %>
  <%= cl_image_tag("download_grlwat", width: 400, height: 300, crop: :fill) %>
  <% end %>
  <p>Taux horaire: <%= @offer.price.to_s %></p>
  <p>Classe: <%= @offer.job %></p>
  <p>Note: <%= @offer.rank %></p>
  <p>Description: <%= @offer.description %></p>
  <p>Adresse: <%= @offer.address %></p>

  <% if @offer.user == current_user %>
    <%= link_to 'Éditer', edit_offer_path(@offer) %>
    <%= link_to 'Supprimer', offer_path(@offer), data: { turbo_method: :delete, turbo_confirm: "Voulez vous vraiment supprimer cette liste ?" } %>
  <% else %>
    <%= link_to "Réserver maintenant", new_offer_reservation_path(@offer), class: "btn btn-primary" %>
  <% end %>

  <%= link_to "Menu principal", root_path, class: "btn btn-primary" %>
</div>
